../Lab03/doubles.exe
../Lab03/shuffle.exe
../Lab03/tolower.exe
../Lab05/conversion.c
../Lab05/conversions.exe
../Lab05/conversions4.exe
../Lab09/logger.exe
../Lab14/.Makefile.swo
../Lab14/.Makefile.swp
../Lab14/.cproject
../Lab14/.gitignore
../Lab14/.project
../Lab14/.settings/
../Lab14/simpel.exe
../Lab14/simple.exe
../Project01/SongList.java
../Project01/mancala1.exe
